@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
body {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
p {
    margin: 0;
    padding: 0;
}
.wrapper {
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

.header {
    background: url(../images/header.png);
    width: 100%;
    float: left;
}
.container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


.title {
    font-size: 44px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 22px;
    padding-top: 100px;
}

.dark {
    color: #272727;
}
.dark_light {
    color: #636363;
}
.slim {
    font-weight: 300;
}

.bold {
    font-weight: 600;
}

.delimiter_block {
    margin: 0 auto;
}

.delimiter {
    background-color: #e8aa4e;
    width: 99px;
    height: 5px;
    border: none;
    margin: 0 auto;
}

.delimiter.short{
    width: 67px;
    margin-top: 9px;
}

.header_slider {
    width: 100%;
    margin-top: 93px;
}
.slider_heroes {
}
.hero_profile {
    float: left;
    width: 25%;
    display: inline-block;
    text-align: center;
    padding: 0 15px;
    box-sizing: border-box;
}
.hero_photo {
    margin-bottom: 23px;
}
.hero_photo img{
    border-radius: 50%;
    max-width: 100%;
}

.hero_info {
    line-height: 24px;
}
.hero_name {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}
.hero_prof {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.hero_date_in {
    font-size: 14px;
    font-weight: 400;
    margin-top: 36px;
    line-height: 24px;
}

.slider_nav {
    display: inline-block;
    width: 100%;
    margin: 98px auto 84px;
    text-align: center;
}
.slider_nav_dot {
    width: 9px;
    height: 9px;
    background-color: #fff;
    margin: 0 9px;
    display: inline-block;
    cursor: pointer;
}
.active {
    background-color: #e8aa4e;
}

.middle {
    width: 100%;
    float:left;
    padding-bottom: 102px;
}
.middle .title {
    padding-top: 109px;
}
.container_slim {
    margin: 0 auto;
    padding: 0 210px;
}
.hero_add_form {
    width: 100%;
    text-align: center;
    margin: 85px auto 0;
    font-size: 14px;
}
.hero_add_form input[type=text]{
    width: 100%;
    height: 40px;
    font-size: 24px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    padding: 0 10px;
}
.hero_add_form label{
    float: left;
}
.hero_add_form input{
    margin-top: 8px;
}

.hero_add_form input:focus {
    border-color: #e8aa4e;
}

.hero_add_form p {
    text-align: left;
}

.form_error {
    display: none;
    color: #e8aa4e;
}
.show {
    display: block;
    position: absolute;
}

abbr {
    color: #bb0100;
    text-decoration: none;
}
abbr[title] {
    text-decoration: none;
}
.row{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 31px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 50%;
}
.input1 {
    position: relative;
    margin-right: 15px;

}
.input2 {
    position: relative;
    margin-left: 15px;

}

.hero_file {
    max-width: 750px;
    margin: 0 auto;
}
.dropzone_block {
    max-width: 750px;
    margin: 0 auto;
}

#myDropzone {
    margin-top: 8px;
    height: 108px;
    min-height: 108px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0 15px;
    display: table;
    width: 100%;
}

.dropzone .dz-preview {
    margin: 0;
    height: 100%;
}
.dropzone.dz-clickable * {
    cursor: pointer;
}

.dropzone .dz-preview .dz-image {
    width: 100%;
    height: 100%;
}

.dropzone .dz-message {
    font-size: 12px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.btn_del {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    background: #fff;
    color: #e8aa4e;
    border: 1px solid #e8aa4e;
    padding: 3px;
}
.btn_del:hover {
    color: red;
    border-color: red;
}
.btn_block {
    width: 100%;
    text-align: left;
}
.btn_accept {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    background-color: #e8aa4e;
    height: 40px;
    width: 165px;
    color: #fff;
    float:right;
    margin-top: 87px;
    border: none;
}

.btn_accept:hover{
    cursor: pointer;
    border: 2px solid #b0b0b0;
}

#result {
    color: green;
    padding-top: 15px;
}

.footer {
    height: 92px;
    background-color: #272727;
    width: 100%;
    float: left;
}
.footer_block{
    line-height: 92px;
    padding: 0 40px;
}
.copyright {
    font-size: 12px;
    float: left;
}
.links {
    float: right;
}
.links img {
    vertical-align: middle;
    cursor: pointer;
}
.links img:hover {
    filter: opacity(1) drop-shadow(0 0 0 white);
}

/*media*/
@media screen and (max-width: 980px){
    .container_slim {
        padding: 0 150px;
    }
}

@media screen and (max-width: 768px){
    .container_slim {
        padding: 0 15px;
    }
    .title {
        padding-top: 50px;
    }
    .header_slider {
        margin-top: 46px;
    }
    .hero_photo {
        margin-bottom: 15px;
    }
    .hero_name {
        font-size: 2.5vw;
    }
    .hero_prof {
        font-size: 2vw;
    }
    .hero_date_in {
        font-size: 2vw;
        line-height: 2.5vw;
        margin-top: 15px;
    }

    .middle .title {
        padding-top: 50px;
    }
    .middle {
        padding-bottom: 51px;
    }

    .slider_nav {
        margin: 49px auto 42px;
    }
    .hero_add_form {
        margin-top: 42px;
    }
    .btn_accept {
        margin-top: 43px;
    }
    .footer_block {
        padding: 0 15px;
    }
    .dropzone .dz-message .dz-button {
        line-height: 12px;
    }
}

@media screen and (max-width: 480px){
    .title {
        font-size: 22px;
    }
    .hero_profile {
        padding: 0 5px;
    }
    .slider_nav_dot {
        width: 11px;
        height: 11px;
    }
    .col {
        width: 100%;
    }
    .input1 {
        margin: 0 0 15px;
    }
    .input2 {
        margin: 0;
    }
    .footer_block {
        text-align: center;
        line-height: 31px;
        font-size: 12px;
        padding: 15px;
    }
    .copyright {
        float: none;
    }
    .links {
        float: none;
    }
}