@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
body {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
p {
    margin: 0;
    padding: 0;
}
.wrapper {
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

.header{
    background: url(../images/header.png);
    width: 100%;
    float: left;
}
.container{
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.title {
    font-size: 44px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 22px;
    padding-top: 100px;
}

.dark {
    color: #272727;
}
.dark_light {
    color: #636363;
}
.slim {
    font-weight: 300;
}

.bold {
    font-weight: 600;
}

.delimiter_block {
    margin: 0 auto;
}

.delimiter {
    background-color: #e8aa4e;
    width: 99px;
    height: 5px;
    border: none;
    margin: 0 auto;
}

.delimiter.short{
    width: 67px;
    margin-top: 9px;
}

.header_slider {
    width: 100%;
    margin-top: 93px;
}
.slider_heroes {
}
.hero_profile {
    float: left;
    width: 25%;
    display: inline-block;
    text-align: center;
}
.hero_photo {
    margin-bottom: 23px;
}
.hero_photo img{
    border-radius: 50%;
}

.hero_info {
    line-height: 24px;
}
.hero_name {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}
.hero_prof {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.hero_date_in {
    font-size: 14px;
    font-weight: 400;
    margin-top: 36px;
}

.slider_nav {
    display: inline-block;
    width: 100%;
    margin: 98px auto 84px;
    text-align: center;
}
.slider_nav_dot {
    width: 9px;
    height: 9px;
    background-color: #fff;
    margin: 0 9px;
    display: inline-block;
}
.active {
    background-color: #e8aa4e;
}

.middle {
    width: 100%;
    float:left;
    padding-bottom: 102px;
}
.middle .title {
    padding-top: 109px;
}

.hero_add_form {
    width: 100%;
    text-align: center;
    margin: 85px auto 0;
    font-size: 14px;
    background: #aaa;
}
.hero_add_form input[type=text]{
    width: 100%;
    height: 40px;
    font-size: 24px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    padding: 0 10px;
}
.hero_add_form label{
    float: left;
}
.hero_add_form input{
    margin-top: 8px;
}
.hero_add_form p {
    text-align: left;
}

abbr {
    color: #bb0100;
    text-decoration: none;
}
.row{
    width: 100%;
    margin: 0 auto;
    background: #ff0033;
    padding-bottom: 31px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 50%;
    background: #bb0100;
}
.input1 {
    position: relative;
    margin-right: 15px;
    margin-left: 195px;
}
.input2 {
    position: relative;
    margin-left: 15px;
    margin-right: 195px;
}

.hero_file {
    max-width: 750px;
    margin: 0 auto;
}
.dropzone_block {
    max-width: 780px;
    margin: 0 auto;
}

#myDropzone {
    margin-top: 8px;
    height: 108px;
    min-height: 108px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.btn_accept {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    background-color: #e8aa4e;
    height: 40px;
    width: 165px;
    color: #fff;
    float:right;
    margin-top: 87px;
}

.btn_accept:hover{
    cursor: pointer;
}

.footer {
    height: 92px;
    background-color: #272727;
    width: 100%;
    float: left;
}
.footer_block{
    line-height: 92px;
}
.copyright {
    font-size: 12px;
    float: left;
}
.links {
    float: right;
}
.links img {
    vertical-align: middle;
}
